.address-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

.address-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-radius: 12px;
  transition: all 0.3s linear;

  &.selected {
    background-color: var(--primary-color-light);
  }
}

.address-info {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1;
}

.radio-container {
  display: flex;
  align-items: center;
  margin-top: 2px;
}

.radio-button {
  width: 18px;
  height: 18px;
  background-color: var(--primary-color);
  accent-color: var(--primary-color);
}

.address-details {
  flex: 1;
}

.address-type {
  font: var(--font-s);
  font-weight: 600;
}

.address-text {
  font: var(--font-s);
  color: var(--gray-400);
}

.actions {
  display: flex;
  align-items: center;
  gap: 4px;
}

.action {
  color: var(--primary-color);
  font-size: 14px;
  padding: 4px 8px;

  svg {
    stroke: var(--primary-color);
    fill: none;
  }
}

.delete-action {
  svg {
    stroke: none;
    fill: var(--primary-color);
  }
}

.body {
  overflow-y: auto;
  max-height: 60vh;
}

.add-address-button {
  font-weight: 600;
  color: var(--primary-color);
  padding: 12px;
}

.empty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.empty-title {
  font: var(--font-base);
  font-weight: 600;
}

.empty-description {
  color: var(--gray-400);
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 16px;
  text-align: center;
}

.error-text {
  font: var(--font-l);
  margin-bottom: 16px;
  font-weight: 600;
}

.delete-modal {
  width: 400px;
  min-width: unset;
}

.delete-modal-footer {
  gap: 16px;
  justify-content: end;
  display: flex;
}
