@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.img-container {
  width: 240px;
  height: 240px;
  background: var(--gray-100);
  border-radius: 32px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-skeleton {
  width: 60%;
  height: 60%;
  background: linear-gradient(
    90deg,
    var(--gray-200) 25%,
    var(--gray-100) 50%,
    var(--gray-200) 75%
  );
  background-size: 400% 100%;
  animation: shimmer 1.2s ease-in-out infinite;
  border-radius: 16px;
}

.button-skeleton {
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 48px;
  height: 48px;
  background: linear-gradient(
    90deg,
    var(--gray-200) 25%,
    var(--gray-100) 50%,
    var(--gray-200) 75%
  );
  background-size: 400% 100%;
  animation: shimmer 1.2s ease-in-out infinite;
  border-radius: 50%;
}

.skeleton {
  max-width: 240px;
  animation: pulse 1.5s ease-in-out infinite;
  min-height: 374px;

  .button-skeleton {
    opacity: 0.3;
  }
}

.content {
  padding-top: 16px;
}

.title-skeleton {
  height: 20px;
  width: 80%;
  background: linear-gradient(
    90deg,
    var(--gray-200) 25%,
    var(--gray-100) 50%,
    var(--gray-200) 75%
  );
  background-size: 400% 100%;
  animation: shimmer 1.2s ease-in-out infinite;
  border-radius: 4px;
  margin-bottom: 12px;
}

.subtitle-skeleton {
  height: 16px;
  width: 60%;
  background: linear-gradient(
    90deg,
    var(--gray-200) 25%,
    var(--gray-100) 50%,
    var(--gray-200) 75%
  );
  background-size: 400% 100%;
  animation: shimmer 1.2s ease-in-out infinite;
  border-radius: 4px;
  margin-bottom: 8px;
}

.prices {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 8px;
}

.price-skeleton {
  height: 18px;
  width: 60px;
  background: linear-gradient(
    90deg,
    var(--gray-200) 25%,
    var(--gray-100) 50%,
    var(--gray-200) 75%
  );
  background-size: 400% 100%;
  animation: shimmer 1.2s ease-in-out infinite;
  border-radius: 4px;
}

.old-price-skeleton {
  height: 14px;
  width: 45px;
  background: linear-gradient(
    90deg,
    var(--gray-200) 25%,
    var(--gray-100) 50%,
    var(--gray-200) 75%
  );
  background-size: 400% 100%;
  animation: shimmer 1.2s ease-in-out infinite;
  border-radius: 4px;
}

.amount-left-skeleton {
  height: 14px;
  width: 50px;
  background: linear-gradient(
    90deg,
    var(--gray-200) 25%,
    var(--gray-100) 50%,
    var(--gray-200) 75%
  );
  background-size: 400% 100%;
  animation: shimmer 1.2s ease-in-out infinite;
  border-radius: 4px;
}
