@use '../../../../../app/styles/animations';

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.accordion-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.error {
  color: var(--red-500);
}

.error-icon {
  font-size: 18px;
}

.loading {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.skeleton {
  height: 40px;
  background: linear-gradient(
                  90deg,
                  var(--gray-100) 25%,
                  var(--gray-200) 50%,
                  var(--gray-100) 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 4px;
}
